* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: 300;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  background: linear-gradient(to bottom, #2a3446 0%, #1a2333 100%);
  width: 52rem;
  height: 44rem;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: rgba(31, 43, 61, 0.8);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-between;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  padding-bottom: 1rem;
  color: white;
}

.main-container {
  display: flex;
  overflow: hidden;
}

.player-container,
.song-selector-container {
  flex: 1;
}